@{
    ViewBag.Title = "Index";
}

<h2 style="margin: 2em 0 1em 0">Reports</h2>



    <div style="margin-bottom: 2em; font-size: 1.3em">
        <a href="@Url.Action("Inventory", "Reports")"><u>Inventory Report</u></a>
    </div>
    <div style="font-size: 1.3em">
        <a href="@Url.Action("Sales", "Reports")"><u>Sales Report</u></a>
    </div>

