@model IEnumerable<GuildCars.Models.Queries.VehicleItem>

@{
    ViewBag.Title = "Index";
}

<h2 style="margin-top: 2em; margin-bottom: 2em">Sales</h2>

<div class="container" style="margin-bottom: 10px; border: 1px solid">
    <div class="col-xs-12 row" style="display:flex; padding-top: 2em; padding-bottom: 2em; justify-content:center">
        <form id="searchForm" class="form-inline">
            <div class="input-group" style="margin-right: .5em">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Quick Search</span>
                </div>
                <input type="text" class="form-control col-12" id="quickSearch" placeholder="Make, Model or Year">
                <input type="text" class="form-control col-12" style="border: none">
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Price </span>
                </div>
                <input type="number" class="form-control col-4" id="minPrice" placeholder="No Min">
                <input type="number" class="form-control col-4" id="maxPrice" placeholder="No Max">
            </div>
            <div class="input-group" style="margin-right: 1em">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Year</span>
                </div>
                <input type="number" class="form-control col-4" min="2001" max="2022" id="minYear" placeholder="No Min">
                <input type="number" class="form-control col-4" min="2001" max="2022" id="maxYear" placeholder="No Max">
            </div>
            <button type="submit" onclick="search()" class="btn btn-success">Search</button>
        </form>
    </div>
</div>

<div class="container">
    <div id="searchResults" class="row">

    </div>

</div>

@section Scripts{
    <script>
            $(document).ready(function () {
            $('#searchForm').submit(function (e) {
                search();
                return false;
            });
        });
        function search() {
            var params;
            var imagePath = '@Url.Content("~/Images/")';
            var detailsPath = '@Url.Action("Purchase","Sales")';
            params = 'minPrice=' + $('#minPrice').val() + '&maxPrice=' + $('#maxPrice').val() + '&minYear=' + $('#minYear').val() + '&maxYear=' + $('#maxYear').val() +
                '&quickSearch=' + $('#quickSearch').val() ;
        $.ajax({
        type: 'GET',
            url: 'https://localhost:44341/api/Sales/Index?' + params,
            success: function (results) {
            //clear the search results
                $('#searchResults').empty();
                var searchLabel = '<h2>Search Results</h2>'
                $('#searchResults').append(searchLabel);
                //add search results
                $.each(results, function (index, vehicle) {
                    var html = '<div class="row item" style="border: 1px solid; margin-bottom: 1em; padding-top: 1em">' +
                                '<div class="column item-image col-xs-3">' +
                                    '<span class="recentListing"><strong>' + vehicle.Year + ' ' + vehicle.MakeName + ' ' + vehicle.ModelName + '</strong></span>' +
                                    '<p class="recentListing"><img style="width:166px;height:110px;" src="' + imagePath + vehicle.ImageFileName + '" /></p>' +
                                 '</div>' +
                                 '<div class="column item-text col-xs-3">' +
                                        '<p class="item-description"><span style="font-weight: bold">Body Style:</span> ' + vehicle.BodyStyleName + '</p>' +
                                        '<p class="item-description"><span style="font-weight: bold">Trans:</span> ' + vehicle.TransmissionName + '</p>' +
                                        '<p class="item-description"><span style="font-weight: bold">Color:</span> ' + vehicle.ExteriorColorName + '</p>' +
                                 '</div>' +
                                  '<div class="column item-text col-xs-3">' +
                                         '<p class="item-description"><span style="font-weight: bold">Interior:</span> ' + vehicle.InteriorColorName + '</p>' +
                                         '<p class="item-description"><span style="font-weight: bold">Mileage:</span> ' + vehicle.Mileage + '</p>' +
                                         '<p class="item-description"><span style="font-weight: bold">VIN #:</span> ' + vehicle.VINNumber + '</p>' +
                                  '</div>' +
                                  '<div class="column item-text col-xs-3">' +
                                        '<p class="item-description money"><span style="font-weight: bold">Sale Price:</span> ' + Intl.NumberFormat('us-US', { style: 'currency', currency: 'USD' }).format(vehicle.SalePrice) + '</p>' +
                                        '<p class="item-description money"><span style="font-weight: bold">MSRP:</span> ' + Intl.NumberFormat('us-US', { style: 'currency', currency: 'USD' }).format(vehicle.MSRP) + '</p>' +
                                        '<button type="button"><a class="detail-link" href="' + detailsPath + '/' + vehicle.VehicleID + '">Purchase</a> </button>'
                                   '</div>' +
                                 '</div>';
                    $('#searchResults').append(html);
                });
            },
                 error: function () {
                 alert("Error performing search, try again later");
                 }
        });
     }
    </script>
}
